<div class="container">
<form >
  <label for="name">Enter Your  Name :</label><br>
  <input type="text" id="name"><br>
  <p class="nerror"></p>
  <label for="email">Enter Your  Email :</label><br>
  <input type="email" id="email" required><br>
  <p class="eerror"></p>
  <label for="description">Description :</label><br>
  <textarea name="description" id="desc" cols="30" rows="10"></textarea><br>
  <label for="message">Enter Message</label><br>
  <textarea name="message" id="mess" cols="30" rows="10" placeholder="Write some suggetions"></textarea><br>

  <button onclick="validate()" >Submit</button>
</form>

</div>
